*{box-sizing: border-box;


	
}
:root{
	--homecolor:#e4002b;
	--darkfont:#A9AAAC;
	--title:'Bowlby One SC', cursive;
	--text:'arial';

	--darkfondo:#323234;
}
/*---header---*/


header{
background:var(--homecolor);
	
		
		
		
	}
body{margin: 0px 0px;

	


	


}

main{
	background: var(--homecolor)
}
.logo_studio{
	width: 200px

}
.header{
	
	
	align-items: center;
	text-align: center;
	background:var(--homecolor);
	
}
.header_content{
	
	justify-content: space-between;display: flex;
}


.btn{
	
	width: 50px;
	height: auto;
	border: none;
	background: none;
	border-color: none;
	
	transition: 300ms;
	outline:none

}
.btn1{
	width: 50px;
	height: auto;
	border: none;
	background: none;
	border-color: none;
	transform: rotate(45deg);
	transition: 300ms;
	outline:none
}

/*---menu--*/
.list_a{
	list-style: none;
	text-align: center;
	height: 100vh;
	margin-top: 100px;
	z-index: 200





}
.img_none{
	display: none;
	opacity: 0
}
.list_a a{
	text-decoration: none;
	color:#909193;
	font-family:'Bowlby One SC';
	font-size: 35px
}
.list_a a:hover{
	content: "";
	color: black;
	transition: 500ms;
	transition-delay: 50ms;
}
.title_content{
	grid-area: main;
	
	display: block;
	padding-top: 80px;
	transform: translateY(-120%);
	transition: 500ms;
	
	display: none;



}
.title_content1{
	grid-area: main;

	
	display: block;padding-top: 80px;
	transform: translateY(0%);
	transition: 500ms;
	text-align: center;
	align-items: center;
	height: 100%;
	background: white;
	


}
span{
	background: var(--homecolor);
	width:10px;
	height: 50px;
	margin-right: 15px;
	border-radius:50%;
	-moz-border-radius: 50%;
     -webkit-border-radius: 50%;
	padding: 10px;color: white;
	font-size: 20px;
	

}

.red{
	padding-top: 30px
}
/*---ICONOS--*/




@media screen and (min-width:769px){
	/*----H-E-A-D-E-R-----*/
	header{
		background: var(--homecolor);
		width: 100%
	}
	.header{
	max-width: 1170px;
	margin: 0px auto;
	align-items: center;
	text-align: center;
	display: grid;
	grid-template-columns:repeat(2,1fr)  ;
	grid-template-areas: "header header "
						"main main"
}

	h1	{
	transform: translateX(-50px);
}

.btn img{
	width: 30px;
	height: auto;
	border: none;
	background: none;
	border-color: white;
	color:white;

}
.btn1 img{
	width: 30px;
	height: auto;
	border: none;
	background: none;
	border-color: none;
	transform: rotate(45deg);
	transition: 300ms;
	animation-delay: 300ms
}
}
/*----MENU-----*/


/*----main-----*/
/*----portada----**/
.img_contacto{
	display: none;
	position: absolute;
	}
.grid_contacto{
	
	display:block;
	padding: 20px
}
.title_contacto{
	color: white;
	font-family: var(--title);
	font-size:45px;

}
.linea1 {
	background-color: white;
	width: 70%;
	height: 5px;
	z-index: 100
}

iframe{
	display: none;
}
.text{
	text-decoration: none;
	font-size: 23px;
	font-family: arial;
	color:black;
}
.text_contacto{
	padding-bottom: 100px;
	padding-top: 150px;
	height: 100vh;
}
.linea2 {
	background-color: white;
	width: 70%;
	height: 11px;
	z-index: 100
}
/*---negocio----*
.negocio{
	display: none;
	grid-template-columns: repeat(2,1fr);
	position: absolute;
	height: 100%;
	grid-gap: 100px;
	
	z-index: 100;
	top: 0px;
	background: var(--homecolor);
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	padding: 200px
	


}
.negocio1{
	display: none;
	grid-template-columns: repeat(2,1fr);
	position: absolute;
	height: 100%;
	grid-gap: 100px;
	
	z-index: 100;
	top: 0px;
	background: var(--homecolor);
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	padding: 200px
	


}
.over{
	overflow:hidden; 
}
.btn_cerrar{
	
	width: 5%;
	border:none;
	outline:none;
	background: none;

}
.btn_cerrar1{
	
	width: 5%;
	border:none;
	outline:none;
	background: none;

}
.content_header{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 0px;
	margin: 0px;
	transform: translateY(-10px);
}
.input{
	width: 50%;
	background: none;
	border:none;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid white;
	outline:none;
	margin-bottom: 20px
}
input#miArchivo{
  color: transparent;
}
.subir{
	border:none;
	background: none;
	color: white;
	display: block;
}
.input2{
	width: 50%;
	height: 100px;
	background: none;
	border:none;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid white;
	outline:none
}
.enviar{
	outline:none;
	background: none;
	border:none;
	color: black;
	cursor: pointer;
	display: block;
	align-items: right;
	font-weight: 600;
	font-size: 15px;
	margin: 10px;


}
.negocio h2{
	display: none;
}
.text1{
	text-decoration: none;
	font-size: 23px;
	font-family: arial;
	color:black;
}*/
@media screen and (min-width:769px){
	.img_contacto{
	position: absolute;
	width: 50%;
	top: 180px;
	opacity: 1;
	left: 0px;
	display: block;

}
.grid_contacto{
	grid-template-columns: repeat(2,1fr)
	;display: grid;
	grid-gap: 200px
}
.title_contacto{
	color: white;
	font-family: var(--title);
	font-size:45px

}

iframe{
	width: 100%;
	height: 600px;
	display: block;
}
.text{
	text-decoration: none;
	font-size: 23px;
	font-family: arial;
	color:black;
}
.text1{
	text-decoration: none;
	font-size: 23px;
	font-family: arial;
	color:black;
}
.text_contacto{
	padding-bottom: 100px;
	padding-top: 50px;
height:50vh
	
}
.contact_title{
	font-family: 'Oswald', sans-serif;
	
}

.linea1 {
	background-color: white;
	width: 70%;
	height: 5px;
	z-index: 100
}

.linea2 {
	background-color: white;
	width: 70%;
	height: 11px;
	z-index: 100
}

/*----negocio---*/
.negocio{
	display: none;
	grid-template-columns: repeat(2,1fr);
	position: absolute;
	height: 100%;
	grid-gap: 100px;
	
	z-index: 100;
	top: 0px;
	background: var(--homecolor);
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	padding: 200px
	


}
.negocio1{
	display: none;
	grid-template-columns: repeat(2,1fr);
	position: absolute;
	height: 100%;
	grid-gap: 100px;
	
	z-index: 100;
	top: 0px;
	background: var(--homecolor);
	width: 100%;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	padding: 200px
	


}
.over{
	overflow:hidden; 
}
.btn_cerrar{
	
	width: 5%;
	border:none;
	outline:none;
	background: none;

}
.btn_cerrar1{
	
	width: 5%;
	border:none;
	outline:none;
	background: none;

}
.content_header{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 0px;
	margin: 0px;
	transform: translateY(-10px);
}
.input{
	width: 50%;
	background: none;
	border:none;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid white;
	outline:none;
	margin-bottom: 20px
}
input#miArchivo{
  color: transparent;
}
.subir{
	border:none;
	background: none;
	color: white;
	display: block;
}
.input2{
	width: 50%;
	height: 100px;
	background: none;
	border:none;
	font-size: 15px;
	color: white;
	border-bottom: 1px solid white;
	outline:none
}
.enviar{
	outline:none;
	background: none;
	border:none;
	color: black;
	cursor: pointer;
	display: block;
	align-items: right;
	font-weight: 600;
	font-size: 15px;
	margin: 10px;


}


}


/*----FOOTER-----*/
.footer{
	background: #F5F4F3;
	width: 100%;
	font-family: arial;
}
.content_footer{
	margin: 0px auto;
	
	display: block;
		padding: 20px
}
.list_footer{
	list-style: none;
	padding: 0px


}
.list_footer li{
	text-decoration: none;
	font-size: 18px;
	font-family: arial;
	padding-bottom: 10px;
	
}
.list_footer a{
	text-decoration: none;
	font-size: 18px;
	color: black
}
.footer_direc{
	color: var(--homecolor);
	
	font-size: 14px;margin: 40px 0px
}
.footer_direc a{
color: var(--homecolor);
text-decoration: none;
}
.list_ab{
	display: flex;
	list-style: none;
	padding: 10px 0px;
	margin: 0px
}
.redes_sociales  {
	color: var(--homecolor);font-size: 14px;
	margin-bottom: 100px
	
}
.list_ab a{
	text-decoration: none;
}
@media screen and (min-width:769px){
	.content_footer{
	margin: 0px auto;
	max-width: 1170px;
	display: grid;
	grid-template-columns: 30% 40% 10% 1fr;
	padding: 20px
}
.footer_direc{
	color: var(--homecolor);
	
	font-size: 14px;margin: 0px 0px

}
}
.li{
	display: flex;
	align-items: center;
		transition: 1000ms;

}
.linea {
	margin-right: 10px;background: black;
	width: 0px;
	height: 5px;

}

.li:hover .linea{
	background: black;
	width: 50px;
	height: 5px;
	
	
	transition: 400ms
}
  }








